{{ define "main" }}
<section class="block block-one-column-1">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1>{{.Title}}</h1>
                <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
                <p>{{.Content}}</p>

                <ul>
                    <!-- Ranges through content/posts/*.md -->
                    {{ range .Pages }}
                    <li>
                        <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                    </li>
                    {{ end }}
                </ul>

            </div>
        </div>
    </div>
</section>
{{ end }}